.fjLogo {
    max-height: 30px;
    padding-left: 2rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}

.alienWink {
    height: 35px;
    padding-right: 2rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}

.catIcon {
    height: 35px;
}
