.pokeSprite {
    height: 150px;
}

.pokeWall{
    object-fit: cover;
}

.cardContainer {
    background-image: url("../../assets/pokeSymbol2.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    
}

.cardContainer:hover {
    background-color: #7d786cd8;
}